@font-face {
  font-family: "iconfont"; /* Project id 3006644 */
  src: url('//at.alicdn.com/t/font_3006644_vl7bpusl2cp.woff2?t=1639243059240') format('woff2'),
       url('//at.alicdn.com/t/font_3006644_vl7bpusl2cp.woff?t=1639243059240') format('woff'),
       url('//at.alicdn.com/t/font_3006644_vl7bpusl2cp.ttf?t=1639243059240') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangzhan1:before {
  content: "\e62c";
}

.icon-zhishi:before {
  content: "\e601";
}

.icon-wodeguanzhu:before {
  content: "\e68d";
}

.icon-bilibili-copy-copy:before {
  content: "\e602";
}

.icon-wangzhan:before {
  content: "\e600";
}

.icon-boke:before {
  content: "\e605";
}

.icon-dianpuguanli:before {
  content: "\e6e7";
}

